<ul class="profiles">
  <li>
    <a href="https://norden.social/@fihu" rel="me noopener noreferrer" target="_blank">
      <img src="/assets/img/profiles/fihu.png" alt="fihu&#39;s avatar" loading="lazy">
      <h3>fihu</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@shortriver" rel="me noopener noreferrer" target="_blank">
      <img src="/assets/img/profiles/shortriver.jpg" alt="Kurzi&#39;s avatar" loading="lazy">
      <h3>Kurzi</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@mig" rel="me noopener noreferrer" target="_blank">
      <img src="/assets/img/profiles/mig.png" alt="michael&#39;s avatar" loading="lazy">
      <h3>michael</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@tofuknacker" rel="me noopener noreferrer" target="_blank">
      <img src="/assets/img/profiles/tofuknacker.png" alt="Tofuknacker&#39;s avatar" loading="lazy">
      <h3>Tofuknacker</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@barning" rel="me noopener noreferrer" target="_blank">
      <img src="/assets/img/profiles/barning.jpeg" alt="barning&#39;s avatar" loading="lazy">
      <h3>barning</h3>
    </a>
  </li>
</ul>
