<ul class="profiles">
  <li>
    <a href="https://norden.social/@fihu" rel="me noopener noreferrer" target="_blank">
      <img src="https://media.norden.social/accounts/avatars/000/006/815/original/d53e0a151b2ebc3c.png" alt="fihu&#39;s avatar" loading="lazy">
      <h3>fihu</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@shortriver" rel="me noopener noreferrer" target="_blank">
      <img src="https://media.norden.social/accounts/avatars/000/007/015/original/97efd8bd2fd2ce64.jpg" alt="Kurzi &#39;s avatar" loading="lazy">
      <h3>Kurzi </h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@mig" rel="me noopener noreferrer" target="_blank">
      <img src="https://media.norden.social/accounts/avatars/109/247/532/386/495/738/original/2aa02406d58a26db.png" alt="michael&#39;s avatar" loading="lazy">
      <h3>michael</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@tofuknacker" rel="me noopener noreferrer" target="_blank">
      <img src="https://media.norden.social/accounts/avatars/109/274/375/995/557/366/original/a1eaca493118d096.png" alt="Tofuknacker&#39;s avatar" loading="lazy">
      <h3>Tofuknacker</h3>
    </a>
  </li>
  <li>
    <a href="https://norden.social/@barning" rel="me noopener noreferrer" target="_blank">
      <img src="https://media.norden.social/accounts/avatars/000/000/035/original/ac02d1fefff72466.jpeg" alt="barning&#39;s avatar" loading="lazy">
      <h3>barning</h3>
    </a>
  </li>
</ul>
