#mastofeed {
    .tooted {
        padding: 1rem;
        background-color: #e8eff7;
        margin-top: 1rem;
        border-radius: 16px;
    }

    p {
        margin: 0;
    }
}

#mastoavatar {
    max-width: 100px;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.adminabout {
    display: flex;
}