$background-color: #e8eff7;

.profiles {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;

    img {
        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        width: 100px;
    }

    li {
        display: flex;
        background-color: $background-color;
        padding: 1rem;
        border-radius: 16px;
        flex-grow: 1;
        width: 33%;
    }
}

#mastofeed {
    .tooted {
        padding: 1rem;
        background-color: $background-color;
        margin-top: 1rem;
        border-radius: 16px;
    }

    p {
        margin: 0;
    }
}

#mastoavatar {
    max-width: 100px;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.adminabout {
    display: flex;
}